<!-- =================================================================
     == UPGRADED FOOTER (V3.0)                                      ==
     == Changes:                                                    ==
     == 1. Simplified to focus on copyright. Developer credit       ==
     ==    is now in the more prominent sidebar footer.             ==
     ================================================================= -->
<footer class="admin-footer">
    <p>&copy; <span id="current-year">2025</span> Shrish Group. All Rights Reserved.</p>
</footer>
